<!DOCTYPE html>
<html>

<head>
  <title>APCS Final Review</title>
  <link type="text/css" rel="stylesheet" href="mdl/material.min.css" media="screen"/>
  <link type="text/css" rel="stylesheet" href="simplemde/simplemde.min.css">
  <link type="text/css" rel="stylesheet" href="stylesheets/new.css">
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.0.9/themes/default/style.min.css">

</head>

<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-color--teal-400">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Problem Submission Form</span>
        <div class="mdl-layout-spacer"></div>
        <a class="mdl-navigation__link" href="/">Return</a>
      </div>
    </header>
    <main class="mdl-layout__content">
      <div class="page-content">
        <div id="problems-wrapper">
          <div class="mdl-grid">
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
              <div class="mdl-card__supporting-text">
                <h4 class="mdl-color-text--blue-grey-700">New Problem</h4>
              </div>
              <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col-desktop">
                  <h6 class="mdl-color-text--blue-grey-700">Enter your problem here:</h6>
                  <textarea class="mdl-textfield__input" type="text" rows= "6" id="problem-input"></textarea>
                </div>

                <div class="mdl-cell mdl-cell--6-col-desktop">
                  <h6 class="mdl-color-text--blue-grey-700">Whitelisted components:</h6>
                  <div class="component-list">
                    <ul class="demo-list-control mdl-list" id="whitelist">
                      {{#each whitelistOptions}}
                        <li class="mdl-list__item">
                          <span class="mdl-list__item-primary-content">
                            {{this.display}}
                          </span>
                          <span class="mdl-list__item-secondary-action">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" id="whitelist-{{this.id}}-component" for="whitelist-{{this.id}}-checkbox">
                              <input type="checkbox" data-type="whitelist" data-id="{{this.id}}" id="whitelist-{{this.id}}-checkbox" class="mdl-checkbox__input component-checkbox" />
                            </label>
                          </span>
                        </li>
                      {{/each}}
                    </ul>
                  </div>
                </div>
                <div class="mdl-cell mdl-cell--6-col-desktop">
                  <h6 class="mdl-color-text--blue-grey-700">Blacklisted components:</h6>
                    <div class="component-list">
                      <ul class="demo-list-control mdl-list" id="blacklist">
                        {{#each whitelistOptions}}
                          <li class="mdl-list__item">
                            <span class="mdl-list__item-primary-content">
                              {{this.display}}
                            </span>
                            <span class="mdl-list__item-secondary-action">
                              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" id="blacklist-{{this.id}}-component" for="blacklist-{{this.id}}-checkbox">
                                <input type="checkbox" data-type="blacklist" data-id="{{this.id}}" id="blacklist-{{this.id}}-checkbox" class="mdl-checkbox__input" />
                              </label>
                            </span>
                          </li>
                        {{/each}}
                      </ul>
                    </div>
                </div>
              </div>
            </div>
            <div class="mdl-layout-spacer"></div>
          </div>
        </div>

        <div class="mdl-grid">
          <div class="mdl-layout-spacer"></div>
          <div class="form-controls-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-card__actions mdl-card--border mdl-color--teal-400">
              <a href="#" class="submit-problem-btn mdl-button mdl-js-button mdl-js-ripple-effect">Submit</a>
            </div>
          </div>
          <div class="mdl-layout-spacer"></div>
        </div>
      </div>
    </main>
  </div>

  <script type="text/javascript" src="jquery/jquery.min.js"></script>
  <script type="text/javascript" src="mdl/material.min.js"></script>
  <script type="text/javascript" src="/javascripts/new.js"></script>
  <script type="text/javascript" src="simplemde/simplemde.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.0.9/jstree.min.js"></script>

</body>

</html>